.icon-48-parameters {
      background-image: url(../images/l_parameters.png);
      padding-left:60px!important;
}

.icon-48-parameter {
      background-image: url(../images/l_parameters.png);
      padding-left:60px!important;
}

